<script>
function showBirth(y, m, d){
  M.toast({html: 'I am a toast!'})
}
</script>

<%
tNow = Time.new
@days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
@seasons = {
    "spring" => "",
    "autumn" => "https://image.aflo.com/resources/speciald/10_42243.jpg"
}

%>

<div class="row">
    <div class="col s2">
        <a class="waves-effect waves-light btn-flat" href="/<%=calcYear(@year, @month, -1)%>/<%=calcMonth(@month, -1)%>"><i class="material-icons left">keyboard_arrow_left</i> 先月</a>
    </div>
    <div class="col offset-s2 s4 center">
    <h4><%= @year %>年 <%= @month %>月</h4>
    <%if tNow.year != @year || tNow.month != @month%>
        <a class="waves-effect waves-light btn-flat" href="/">今月(<%= tNow.year %>/<%= tNow.month %>)へ移動</a>
    <%end%>
    </div>
    <div class="col offset-s2 s2">
        <a class="waves-effect waves-light btn-flat" href="/<%=calcYear(@year, @month, +1)%>/<%=calcMonth(@month, +1)%>">来月 <i class="material-icons right">keyboard_arrow_right</i></a>
    </div>
</div>
<table border="1">
    <tr>
        <%= @days.map {|day| "<td>" + day + "</td>"}.join("") %>
    </tr>
    <%= i = calc(@year, @month, 1) %>
    <tr>
    <% i.times do%><td></td><% end %>
    <%
    count = 1
    while count <= lastDay(@month) do
        eventsCount =  Events.where("date = \"#{Time.local(@year, @month, count).strftime("%Y-%m-%d")}\"" ).size
        %><td><a class="<%if eventsCount > 0 then %>btn-floating red<%end%> center <%= colorGudge(@year, @month, count) %>" href="<%= "/#{@year}/#{@month}/#{count}" %>"><span class="center"><%= count %></span></a></td>
        <%
        count += 1
        i += 1
        if(i >= 7)
            %></tr><tr><%
            i = 0
        end
    end
    %>
</table>
<div class="row">
<div class="col m6 s12">
    <h4>今月の予定</h4>
    <%if @events.size > 0%>
    <table>
    <% @events.each do |event| %>
    <tr>
    <td><%=event.date%></td>
    <td><%=event.title%></td>
    <td><%=event.description%></td>
    </tr>
    <%end%>
    </table>
    <%else%>
    予定はありません．
    <%end%>
</div>
<div class="col m6 s12">
    <h4>Google Calendar</h4>
    <%if @googleEvents.items.length > 0%>
    <table>
    <%@googleEvents.items.each do |event| %>
    <tr>
    <td><%=event.start.date || event.start.date_time%></td>
    <td><%=event.summary%></td>
    </tr>
    <%end%>
    </table>
    <%else%>
    予定はありません．
    <%end%>
</div>

</div>
